<a href="https://colab.research.google.com/github/harini-jaish/cv/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Implementation of AdaBoost Algorithm**

In [5]:
# Load libraries

from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [4]:
import pandas as pd
# Load data
LoanData=pd.read_csv("/content/income.csv")
LoanData.head()

   age  fnlwgt  education_num  ...  capital_loss  hours_per_week  income_level
0   39   77516             13  ...             0              40             0
1   50   83311             13  ...             0              13             0
2   38  215646              9  ...             0              40             0
3   53  234721              7  ...             0              40             0
4   28  338409             13  ...             0              40             0

[5 rows x 7 columns]

In [6]:
#Seperating predictors and response
X=LoanData.iloc[:,0:6]
y=LoanData.iloc[:,6]

In [7]:
#Split dataset into traning and test set
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2)

In [8]:
#Create adaboost classifier object
AdaModel= AdaBoostClassifier(n_estimators=100, learning_rate=1.0)

In [9]:
#Train adaboost classifier
model= AdaModel.fit(X_train,y_train)

#Predict the response for test dataset
y_pred= model.predict(X_test)

In [10]:
#Model accuracy
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8336574879721568